name: CI
on: [push]
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'
        id: go

      - name: Install librdkafka
        run: |
          sudo apt-get update
          sudo apt-get install -y librdkafka-dev

      - name: Build
        run: go build -v ./...

      - name: Run unit tests
        run: make test-unit

      - name: Run integration tests
        run: make test-integration